<body>
  <div class="container">
    <h1>Gestión de Riesgos</h1>
    <p class="subtitle">
      La prevención de riesgos implica identificar, evaluar y poner en práctica
      estrategias para manejar y mitigar posibles riesgos antes de que se
      conviertan en problemas reales.
    </p>
    <div class="cards-container">
      <div class="card">
        <a
          href="https://drive.google.com/file/d/1qErTTLd_svDl1RbiWKIk-6poqwNJ5jbN/view?usp=sharing"
        >
          <img src="../../assets/img/salud.jpeg" alt="Gestión de Riesgos" />
        </a>

        <div class="card-content">
          <h2 class="card-title">GESTION POLITICAS DE SEGURIDAD Y SALUD</h2>
          <p class="card-text">
            Implica el desarrollo, implementación y monitoreo de estrategias y
            procedimientos para garantizar la seguridad física y psicológica de
            los empleados en el lugar de trabajo.
          </p>
        </div>
      </div>
      <div class="card">
        <a
          href="https://drive.google.com/file/d/18EO7WxMB2obDbXjHaArSOM0BGGQoesNV/view?usp=sharing"
        >
          <img
            src="../../assets/img/contratacionPersonal.jpeg"
            alt="Estrategias de Mitigación"
          />
        </a>
        <div class="card-content">
          <h2 class="card-title">
            POLITICAS DE SELECCIÓN Y CONTRATACIÓN DE PERSONAL
          </h2>
          <p class="card-text">
            Las políticas de selección y contratación de personal son
            directrices y procedimientos establecidos por una organización para
            asegurar que el proceso de reclutamiento sea justo, transparente y
            eficaz, enfocándose en atraer y elegir a los candidatos más
            adecuados para los roles disponibles.
          </p>
        </div>
      </div>

      <div class="card">
        <a
          href="https://drive.google.com/file/d/1wvFMT8jbUF7XetcYCkZII8Gbo9bpoQae/view?usp=sharing"
        >
          <img src="../../assets/img/SEGURIDAD.jpeg" alt="Preparación" />
        </a>
        <div class="card-content">
          <h2 class="card-title">
            POLITICAS DE LA SEGURIDAD DE LA INFORMACIÓN
          </h2>
          <p class="card-text">
            son un conjunto de directrices y normas establecidas por una
            organización para proteger su información y sistemas de información
            contra accesos no autorizados, alteraciones, pérdidas o destrucción.
          </p>
        </div>
      </div>
      <div class="card">
        <a
          href="https://drive.google.com/file/d/1xj67Xs0Bz4xY5VpycDY1Ax3sMmroMOll/view?usp=sharing"
        >
          <img src="../../assets/img/fegbty.jpeg" alt="Evaluación" />
        </a>
        <div class="card-content">
          <h2 class="card-title">MANEJO DE ETIQUETADO</h2>
          <p class="card-text">
            se refiere a las prácticas y procedimientos utilizados para asignar,
            diseñar e implementar etiquetas en productos, paquetes o envases,
            con el objetivo de proporcionar información esencial sobre el
            contenido, el origen, la fecha de caducidad, la manipulación
            adecuada, y otros datos relevantes. .
          </p>
        </div>
      </div>
    </div>
  </div>
</body>
