<body>
  
  <div class="card-container">
    <div class="card">
      <img
        src="../../assets/img/gestionUsaurios.jpeg"
        alt="Imagen 1"
        class="card-img"
      />
      <div class="card-content">
        <h3>Gestion de Usuario</h3>
        <p></p>
        <div class="citas">
          <a [routerLink]="['/gestionUsuarios']" class="nav-link">Entrar </a>
        </div>
      </div>
    </div>
    <div class="card">
      <img
        src="../../assets/img/gestionFinaciero.jpeg"
        alt="Imagen 2"
        class="card-img"
      />
      <div class="card-content">
        <h3>Finanzas </h3>
        <p></p>
        <a [routerLink]="['/gestionFinanzas']" class="nav-link">Entrar </a>
      </div>
    </div>
    <!-- Agregar las tarjetas restantes aquí -->
    <div class="card">
      <img
        src="../../assets/img/gestionInventario.jpeg"
        alt="Imagen 3"
        class="card-img"
      />
      <div class="card-content">
        <h3>Gestion Inventario </h3>
        <p></p>
        <a [routerLink]="['/gestionInventario']" class="nav-link">Entrar </a>
      </div>
    </div>
    <div class="card">
      <img
        src="../../assets/img/marketing.jpeg"
        alt="Imagen 4"
        class="card-img"
      />
      <div class="card-content">
        <h3>Gestion Marketing </h3>
        <p></p>
        <a [routerLink]="['/gestionMarketing']" class="nav-link">Entrar </a>
      </div>
    </div>
    <div class="card">
      <img
        src="../../assets/img/riesgos.jpeg"
        alt="Imagen 5"
        class="card-img"
      />
      <div class="card-content">
        <h3>Gestion de Riesgos </h3>
        <p></p>
        <a [routerLink]="['/gestionRiesgo']" class="nav-link">Entrar </a>
      </div>
    </div>
  </div>
</body>
